{% extends "dpaste/base.html" %}

{% load i18n %}

{% block title %}About dpaste.de{% endblock %}
{% block headline %}About dpaste.de{% endblock %}
{% block dpaste_nav_about %}active{% endblock %}

{% block page %}

<div class="row-fluid">

    <p>
        dpaste is open source. You can find the source, contribute to it and
        leave ideas on Github: <a href="https://github.com/bartTC/dpaste">github.com/bartTC/dpaste</a>
    </p>

    <h3>API</h3>

    {# Just put the script in dpaste and copy the source node #}
    <pre class="prettyprint linenums"><ol class="linenums"><li id="1"><span class="c">#!/usr/bin/env python</span></li><li id="2">&nbsp;</li><li id="3"><span class="kn">import</span> <span class="nn">urllib</span></li><li id="4"><span class="kn">import</span> <span class="nn">urllib2</span></li><li id="5"><span class="kn">import</span> <span class="nn">sys</span></li><li id="6">&nbsp;</li><li id="7"><span class="k">def</span> <span class="nf">paste_code</span><span class="p">():</span></li><li id="8">    <span class="n">request</span> <span class="o">=</span> <span class="n">urllib2</span><span class="o">.</span><span class="n">Request</span><span class="p">(</span></li><li id="9">        <span class="s">'https://dpaste.de/api/'</span><span class="p">,</span></li><li id="10">        <span class="n">urllib</span><span class="o">.</span><span class="n">urlencode</span><span class="p">([(</span><span class="s">'content'</span><span class="p">,</span> <span class="n">sys</span><span class="o">.</span><span class="n">stdin</span><span class="o">.</span><span class="n">read</span><span class="p">())]),</span></li><li id="11">    <span class="p">)</span></li><li id="12">    <span class="n">response</span> <span class="o">=</span> <span class="n">urllib2</span><span class="o">.</span><span class="n">urlopen</span><span class="p">(</span><span class="n">request</span><span class="p">)</span></li><li id="13">    <span class="c"># Strip surrounding quotes (NB: response has no trailing newline)</span></li><li id="14">    <span class="k">print</span> <span class="n">response</span><span class="o">.</span><span class="n">read</span><span class="p">()[</span><span class="mi">1</span><span class="p">:</span><span class="o">-</span><span class="mi">1</span><span class="p">]</span></li><li id="15">&nbsp;</li><li id="16"><span class="k">if</span> <span class="n">__name__</span> <span class="o">==</span> <span class="s">'__main__'</span><span class="p">:</span></li><li id="17">    <span class="n">paste_code</span><span class="p">()</span></li></ol></pre>

    <p>Save this script in <code>/usr/local/bin/dpaste</code> and <code>chmod +x ..filepath</code>.</p>
    <p>Usage: <code>cat foo.txt | dpaste</code></p>

    <p>Or you could use <code>curl</code>:
    <code>alias dpaste="curl -F 'content=&lt;-' https://dpaste.de/api/"</code></p>


    <h3>Applications using the API:</h3>

    <ul>
        <li><a href="https://github.com/bartTC/dpasteGUI/wiki">dpasteGUI</a>, a OS X interface</li>
        <li><a href="https://github.com/bartTC/SubDpaste">a dpaste Sublime 2 plugin</a></li>
        <li><a href="http://marmalade-repo.org/packages/dpaste_de">Marmalade</a>, a Emacs plugin</li>
    </ul>

    <h3>{% trans "Statistics" %}</h3>

    <p>{% blocktrans %}There are {{ total }} snippets in the database. The most popular languages are:{% endblocktrans %}</p>
    <table class="table" style="width: 40%">
        {% for s in stats %}
        <tr>
            <th>{{ s.lexer|upper }}</th>
            <td>{{ s.count }}</th>
        </tr>
        {% endfor %}
    </table>

    <div class="clearfix"></div>
    <hr class="clearfix">

    <h3>Delete a snippet</h3>

    <p>
        If you created a snippet with the API you can't delete it on the webpage
        since it's not in your history. You can delete a snippet here. Actually
        you can delete any snippet of anybody, as long as you know the short code.
    </p>
    <p>
        If you deleted a snippet because auf legal issues, please let me know
        that, I want to keep track of such things and try to avoid in future.
    </p>
    <p>
        Type the 5 letter code of your snippet in the field and submit.
        Like this yellow one here: <tt>http://dpaste.de/<strong>SiZrT</strong>/</tt>
    </p>

    <form method="POST" action="{% url "snippet_delete" %}">
        <input name="snippet_id"> <input type="Submit" value="Submit"/>
    </form>

    <div class="clearfix"></div>
    <hr class="clearfix">

    <h3>Imprint</h3>

    <p><strong>Address:</strong></p>
    <p>
        Martin Mahner<br>
        Lauterbacher Str. 4<br>
        DE-18581 Putbus<br>
        Germany
    </p>

    <p><strong>Jabber/E-Mail:</strong></p>
    <p><a href="mailto:martin@mahner.org">martin@mahner.org</a></p>
</div>
{% endblock %}
