{% load i18n staticfiles %}<!DOCTYPE html>
<html>
<head>
    <title>dpaste.de: {% block title %}{% trans "New snippet" %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static "dpaste/bootstrap/css/bootstrap.min.css" %}">
    <link rel="stylesheet" href="{% static "dpaste/theme.css" %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	{% block extrahead %}{% endblock %}
</head>
<body>

<div class="container-fluid">
    <header>
        <ul class="nav nav-pills pull-right">
            <li class="{% block dpaste_nav_about %}{% endblock %}"><a href="{% url "about" %}">{% trans "About" %}</a></li>
            <li class="{% block dpaste_nav_history %}{% endblock %}"><a href="{% url "snippet_history" %}">{% trans "History" %}</a></li>
            <li class="{% block dpaste_nav_new %}{% endblock %}"><a href="{% url "snippet_new" %}">{% trans "New snippet" %} &rarr;</a></li>
        </ul>
        <h3 class="headline">{% block headline %}{% endblock %}</h3>
    </header>

    <hr>

    {% block page %}
        PAGE MISSING
    {% endblock %}
</div>

{% block script_footer %}
<script src="//ajax.googleapis.com/ajax/libs/jquery/1/jquery.js"></script>
<script src="{% static "dpaste/bootstrap/js/bootstrap.min.js" %}"></script>
<script>
jQuery(function($) {
    var lexerReq;
    $('#guess_lexer_btn').click(function() {
        // Cancel previous request if it is still pending
        if (lexerReq) {
            lexerReq.abort();
        }

        lexerReq = $.getJSON('{% url "snippet_guess_lexer" %}', {
            codestring: $('#id_content').val()
        }).done(function(data) {
            if (data.lexer === 'unknown') {
                $('#guess_lexer_btn').css('color', 'red');
            } else {
                $('#id_lexer').val(data.lexer);
                $('#guess_lexer_btn').css('color', 'inherit');
            }
        }).complete(function() {
            lexerReq = null;
        });
    });

    $('.autofocus input:text, .autofocus textarea').first().focus();
});
</script>
{% endblock %}

</body>
</html>
