
/* ----------------------------------------------------------------------------
   Basics
---------------------------------------------------------------------------- */

body {
    padding: 10px 0 40px 0;
}

tt strong {
    background-color: #ffe699;
    outline: 3px solid #ffe699;
}

/* Custom container */
.container-fluid {
    margin: 0 auto;
    max-width: 1100px;
}

.container > hr {
    margin: 20px 0;
}

.headline{
    color: #5393b4;
}

/* ----------------------------------------------------------------------------
   Snippet form
---------------------------------------------------------------------------- */
#id_content{
    box-sizing: border-box;
    width: 100%;
    height: 300px;
    font-family: monospace;
    font-size: 12px;
    line-height: 16px;
}

.form-options-lexer {
    float: left;
}

.form-options-expire {
    float: right;
}

.form-options-expire .add-on{
    border-radius: 4px !important;
    margin-right: 3px;
}

.form-horizontal .form-actions {
    padding-left: 20px;
}

.twitter-follow-button-container {
    float:right;
    opacity: 0.5
}
.twitter-follow-button-container:hover{
    opacity: 1;
}

/* ----------------------------------------------------------------------------
   Snippet Details
---------------------------------------------------------------------------- */
.snippet-options{
    margin-bottom: 20px;
}

.snippet-reply-hidden {
    opacity: 0.3;
}

.snippet-reply-hidden,
.snippet-reply-hidden *{
    cursor: pointer;
}

.snippet-diff {
    background: #f3f3f3;
    margin-bottom: 30px;
    padding: 1em 1em 0 1em;
    border-radius: 4px;

    display: none;
}

div.tree{
    margin: 0 0 15px 0;
    line-height: 1.8em;
}

div.tree ul,
div.tree ul li{
    margin: 0;
    padding: 0;
    list-style: none;
}

div.tree ul li{
    clear: both;
}

div.tree ul li div{
    border-bottom: 1px solid #EEE;
}

div.tree span.diff{
    float: right;
}

div.tree strong{
    color: #111;
    font-weight: normal;
}

div.tree ul li li{
    padding-left: 0;
    margin-left: 15px;
    color: #ccc;
    list-style: circle;
}

div.tree div.submit{
    margin: 8px 0 0 0;
    text-align: right;
}

div.tree div.submit input{
    font-size: 0.8em;
}

/* ----------------------------------------------------------------------------
   Pre
---------------------------------------------------------------------------- */

.prettyprint {
    background-color: #272822;
    padding: 10px 15px 10px 0;
}

ol.linenums {
    margin: 0 0 0 45px; /* IE indents via margin-left */
}

ol.linenums li {
    color: #aaa;
    font-size: 12px;
    line-height: 20px;
    cursor: pointer;
}

ol.linenums li.marked {
    background-color: #5e6152;
}

/* ----------------------------------------------------------------------------
   Pygments
---------------------------------------------------------------------------- */
pre .gd { background-color: rgba(226, 12, 19, .5); color: #fff; display: block; }
pre .gi { background-color: rgba(23, 189, 10, .5); color: #fff; display: block; }


pre .hll { background-color: #49483e }
pre  { background: #272822; color: #f8f8f2 }
pre .c { color: #75715e } /* Comment */
pre .err { color: #960050; background-color: #1e0010 } /* Error */
pre .k { color: #66d9ef } /* Keyword */
pre .l { color: #ae81ff } /* Literal */
pre .n { color: #f8f8f2 } /* Name */
pre .o { color: #f92672 } /* Operator */
pre .p { color: #f8f8f2 } /* Punctuation */
pre .cm { color: #75715e } /* Comment.Multiline */
pre .cp { color: #75715e } /* Comment.Preproc */
pre .c1 { color: #75715e } /* Comment.Single */
pre .cs { color: #75715e } /* Comment.Special */
pre .ge { font-style: italic } /* Generic.Emph */
pre .gs { font-weight: bold } /* Generic.Strong */
pre .kc { color: #66d9ef } /* Keyword.Constant */
pre .kd { color: #66d9ef } /* Keyword.Declaration */
pre .kn { color: #f92672 } /* Keyword.Namespace */
pre .kp { color: #66d9ef } /* Keyword.Pseudo */
pre .kr { color: #66d9ef } /* Keyword.Reserved */
pre .kt { color: #66d9ef } /* Keyword.Type */
pre .ld { color: #e6db74 } /* Literal.Date */
pre .m { color: #ae81ff } /* Literal.Number */
pre .s { color: #e6db74 } /* Literal.String */
pre .na { color: #a6e22e } /* Name.Attribute */
pre .nb { color: #f8f8f2 } /* Name.Builtin */
pre .nc { color: #a6e22e } /* Name.Class */
pre .no { color: #66d9ef } /* Name.Constant */
pre .nd { color: #a6e22e } /* Name.Decorator */
pre .ni { color: #f8f8f2 } /* Name.Entity */
pre .ne { color: #a6e22e } /* Name.Exception */
pre .nf { color: #a6e22e } /* Name.Function */
pre .nl { color: #f8f8f2 } /* Name.Label */
pre .nn { color: #f8f8f2 } /* Name.Namespace */
pre .nx { color: #a6e22e } /* Name.Other */
pre .py { color: #f8f8f2 } /* Name.Property */
pre .nt { color: #f92672 } /* Name.Tag */
pre .nv { color: #f8f8f2 } /* Name.Variable */
pre .ow { color: #f92672 } /* Operator.Word */
pre .w { color: #f8f8f2 } /* Text.Whitespace */
pre .mf { color: #ae81ff } /* Literal.Number.Float */
pre .mh { color: #ae81ff } /* Literal.Number.Hex */
pre .mi { color: #ae81ff } /* Literal.Number.Integer */
pre .mo { color: #ae81ff } /* Literal.Number.Oct */
pre .sb { color: #e6db74 } /* Literal.String.Backtick */
pre .sc { color: #e6db74 } /* Literal.String.Char */
pre .sd { color: #e6db74 } /* Literal.String.Doc */
pre .s2 { color: #e6db74 } /* Literal.String.Double */
pre .se { color: #ae81ff } /* Literal.String.Escape */
pre .sh { color: #e6db74 } /* Literal.String.Heredoc */
pre .si { color: #e6db74 } /* Literal.String.Interpol */
pre .sx { color: #e6db74 } /* Literal.String.Other */
pre .sr { color: #e6db74 } /* Literal.String.Regex */
pre .s1 { color: #e6db74 } /* Literal.String.Single */
pre .ss { color: #e6db74 } /* Literal.String.Symbol */
pre .bp { color: #f8f8f2 } /* Name.Builtin.Pseudo */
pre .vc { color: #f8f8f2 } /* Name.Variable.Class */
pre .vg { color: #f8f8f2 } /* Name.Variable.Global */
pre .vi { color: #f8f8f2 } /* Name.Variable.Instance */
pre .il { color: #ae81ff } /* Literal.Number.Integer.Long */